
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: rgb(163, 153, 142);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

h1{
    font-size: xx-large;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote{
    border: solid black;
    height: 170px;
    width: 400px;
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 194, 198);
    font-size: larger;
    box-shadow: -2px 1px 7px 4px rgba(0,0,0,0.82);
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 10px;

}

button:hover{
    transform: scale(1.1);
   
}